h1{
    font-size: 50px;
    margin: 15px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    
}
p{
    color: #fff;
    margin-left: 140px;
}
div{
    width: 350px;
    height: 500px;
    background-color: black;
}
div:hover{
    background-color: #fff;
    color: #000;
}
h2{
    margin: 65px;
}